* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-size-xs: 14px;
    --font-size-base: 16px;
    --font-size-lg: 26px;

    --form-text-color-primary: #6e6e6e;
    --form-primary-color: #fdfdfd;
    --form-secondary-color: #49586d;
    --form-tertiary-color: #e3e3e3;

    --border-radius: 0.5rem;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 100%;
    height: 100vh;
    font-size: var(--font-size-base);
    background-color: var(--form-secondary-color);
}

h3 {
    margin-bottom: 5px;
    font-size: var(--font-size-lg);
    color: var(--form-text-color-primary);
}

a {
    text-decoration: none;
    color: var(--form-secondary-color);
}

span, p, a, a:hover  {
    font-size: var(--font-size-xs);
    color: var(--form-text-color-primary);
}

.my-form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 40px 30px;
    width: 100%;
    background: var(--form-primary-color);
    border-radius: var(--border-radius);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
@media(min-width: 600px) {
    .my-form {
        width: 560px;
    }
}

.text-group, .my-checkbox-group {
    margin-bottom: 1rem;
}

.input-group {
    position: relative;
    width: 100%;
}
.my-label {
    position: absolute;
    top: -10px;
    left: 14px;
    padding: 0px 6px;
    font-size: var(--font-size-xs);
    color: var(--form-text-color-primary);
    background-color: var(--form-primary-color);
}
.my-input {
    outline: none;
    padding: .75rem 1rem;
    width: 100%;
    font-size: var(--font-size-base);
    border-style: none;
    border: 2px solid var(--form-tertiary-color);
    border-radius: var(--border-radius);
    transition: border 0.2s ease-in-out;
}
.my-input::placeholder {
    font-size: var(--font-size-xs);
    opacity: .6;
}
.my-input:focus {
    border-color: var(--form-secondary-color);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.data-group {
    display: flex;
    justify-content: space-between;
}

.my-checkbox-group {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.my-checkbox {accent-color: var(--form-secondary-color);
    cursor: pointer;
    border: 1px solid var(--form-secondary-color);
    height: 15px;
    width: 15px;
}
.my-checkbox:checked {
    background-color: var(--form-secondary-color);
}

.button-group {
    width: 100%;
}
@media(min-width: 640px) {
    .button-group {
        display: inline-flex;
    }
}
.my-button {
    font-family: inherit;
    cursor: pointer;
    width: 100%;
    padding-block: .75rem;
    font-size: var(--font-size-base);
    border: none;
    border-radius: var(--border-radius);
}
.my-button:first-of-type {
    color: var(--form-primary-color);
    background-color: var(--form-secondary-color);
    transition: 0.1s ease-in;
}
.my-button:first-of-type:hover {
    color: var(--form-primary-color);
    opacity: .8;
    transform: scale(1.025);
}
.my-button:first-of-type:active {
    transform: scale(0.95);
}
.my-button:last-of-type {
    color: var(--form-text-color-primary);
    background-color: transparent;
}