* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-size: 10px;
    --background-color: #272b1e;
    --text-color: #4b4b4b;
    --button-color: #f3f4f6;
    --buton-border-color: #cccccc;
    --button-shadow: inset 0px 5px 0px -2px #ffffff, 1px 3px 3px -2px #b3b3b3;
    --keyboard-color: #e0e0e0;
    --keyboard-radius: 1.25rem;
    --button-radius: 0.5rem;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--font-size);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4%;
    width: 100%;
    height: 100vh;
    color: var(--text-color);
    background-color: var(--background-color);
}

.audio {
    display: none;
}

.keyboard {
    user-select: none;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 0.25rem;
    padding: 0.65rem;
    aspect-ratio: 16 / 7;
    border-radius: var(--keyboard-radius);
    background: var(--keyboard-color);
}

/*ALL ROWS AND BUTTONS*/
.buttons-row {
    display: grid;
    gap: 0.2rem;
}

.button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--buton-border-color);
    border-radius: var(--button-radius);
    box-shadow: var(--button-shadow);
    background-color: var(--button-color);
}

.row-1 > .button:first-of-type, .row-3 > .button:first-of-type, .row-4 > .button:first-of-type, .row-5 > .button:first-of-type {
    justify-content: end;
    align-items: start;
    padding: 0.5rem;
}

.row-2 > .button, .row-3 > .button:nth-of-type(12), .row-3 > .button:nth-of-type(13), .row-3 > .button:nth-of-type(14), .row-4 > .button:nth-of-type(11), .row-4 > .button:nth-of-type(12), .row-5 > .button:nth-of-type(9), .row-5 > .button:nth-of-type(10), .row-5 > .button:nth-of-type(11) {
    gap: 3px;
}

.row-2 > .button:last-of-type, .row-4 > .button:last-of-type, .row-5 > .button:last-of-type {
    justify-content: end;
    align-items: end;
    padding: 0.5rem;
}

.row-6 > .button:first-of-type, .row-6 > .button:nth-child(2), .row-6 > .button:nth-child(3), .row-6 > .button:nth-child(4), .row-6 > .button:nth-child(6), .row-6 > .button:nth-child(7) {
    align-items: start;
    padding-inline: 0.6rem;
}

.button:active {
    box-shadow: inset 0px 5px 0px -2px #ffffff;
    transform: scale(.95);
}

/*BUTTONS ROW 1*/
.row-1 {
    grid-template-columns: 1.5fr repeat(13, 1fr);
}
.row-1 > .button:first-of-type {
    border-radius: var(--keyboard-radius) var(--button-radius) var(--button-radius) var(--button-radius);
}
.row-1 > .button:last-of-type {
    border-radius: var(--button-radius) var(--keyboard-radius) var(--button-radius) var(--button-radius);
}
.row-1 > .button:last-of-type:before {
    content: "";
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 2px solid var(--text-color);
    border-radius: 50%;
    opacity: 0.1;
}

/*BUTTONS ROW 2*/
.row-2 {
    grid-template-columns: repeat(13, 1fr) 1.5fr;
}

/*BUTTONS ROW 3*/
.row-3 {
    grid-template-columns: 1.5fr repeat(13, 1fr);
}

/*BUTTONS ROW 4*/
.row-4 {
    grid-template-columns: 1.5fr repeat(11, 1fr) 1.5fr;
}

/*BUTTONS ROW 5*/
.row-5 {
    grid-template-columns: 1.75fr repeat(10, 1fr) 1.75fr;
}

/*BUTTONS ROW 6*/
.row-6 {
    grid-template-rows: 2fr;
    grid-template-columns: repeat(3, 1fr) 1.25fr 5.5fr 1.25fr repeat(4, 1fr);
}
.row-6 > .button {
    grid-row: span 2;
}
.row-6 > div:nth-child(9) {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    grid-row: span 2;
}
.row-6 > div:nth-child(9) > .button {
    flex: 1;
    min-height: 0;
}
.row-6 > .button:first-of-type {
    border-radius: var(--button-radius) var(--button-radius) var(--button-radius) var(--keyboard-radius);
}
.row-6 > .button:last-of-type {
    border-radius: var(--button-radius) var(--button-radius) var(--keyboard-radius) var(--button-radius);
}

img {
    width: 12px;
    height: 12px;
}